!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
**/*.egg-info/
**/*.parquet
**/*.py.isorted
**/__pycache__/
**/Archive/
**/desktop.ini
**/VersionArchive/
*.code-workspace
*.db
*.egg-info/
*.jks
*.key
*.launch
*.log
*.mobileprovision
*.orig.*
*.p12
*.p8
*.pyc
*.sqlite
*.sublime-workspace
*-workspace
.bash_history
.c9/
.cache
.classpath
.coverage*
.cursor/
.DS_Store
.editorconfig
.env
.expo/
.github\instructions\nx.instructions.md
.local
.mypy_cache/
.nx/cache
.nx/workspace-data
.project
.pytest_cache/
.settings/
.vscode/*
.yarn/
/.git/
/.idea/
/.pytest_cache/
/.run/
/.sass-cache
/.vscode/
/connect.lock
/coverage
/libpeerconnection.log
/logs/*
/out-tsc
/typings
/working/
_build/
apps/rtemobile-e2e/artifacts
bin/
build/
cache/
CodeCoverage.xml
coverage.*
dist/
docs/source/generated/
htmlcov/
lib/
lib64/
logs/
node_modules/
npm-debug.*
pyvenv.cfg
serve.ps1
settings.json
testem.log
Thumbs.db
tmp/
venv/
web-build/
yarn-error.log
